h1 {color: crimson; padding-left: 42%; background-color:
}

p{ color: gainsboro; font-size: 25px; font-style: italic; text-align: center; padding-bottom: .5cm; font-family: 'Sriracha', cursive;
    margin-left: 40px; margin-right: 40px;
}

body {background-color: rgb(14, 46, 14); border: 0px;
}

h2 {color: red; padding-left: 45%;
}

.Additonal {font-family: 'Sriracha', cursive; color: blueviolet; text-align: center;
}

.pic {text-align: center; margin-left: auto; margin-right: auto; display: block;
}

